*.pyc
*.DS_Store
.coverage
.tox
*~
docs/_build
*.egg-info
*.egg
.eggs
dist
build
env
htmlcov
# Editors
.idea
#*.json
/venv/
.idea
/__pycache__/
local
*.json
.env
.pkl
config/*
config/.env
secrets.py
secrets.json
config/connection_string.py